

.experience-timeline h3 {
    font-family: var(--primaryFont)
}

.experience-timeline h4 {
    font-family: var(--primaryFont)
}

.experience-timeline p {
    font-family: var(--primaryFont)
}

.experience-timeline-date {
    font-family: var(--primaryFont)
}